body {
  padding-top: 80px;
  word-wrap: break-word;
  background: blue;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: chocolate;
}
img {
  height: 200px;
}

li {
  list-style-type: none;
}

div {
  background: chartreuse;
  padding: 10px;
  border-radius: 5px;
}

section{
  margin: auto;
  width: 400px;
  height:22px;
  border: chocolate solid 2px;
  margin-bottom: 15px;

}
